footer {
    width: 100%;
    color: rgb(0, 0, 0);

}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: rgba(255, 249, 249, 0.974);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(3, 3, 3);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: rgb(27, 255, 72);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_copyright {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    background-color: rgb(46, 255, 224);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
.formularioContato { 
    max-width:600px; 
    height:auto; 
    float:none; 
    margin:auto; 
    padding:1em; 
    margin-bottom:1em; 
    border-radius:6px; 
    background:#efefef; 
    box-shadow: 1px 0px 1.2px 0px #ccc; 
    position:relative; 
    margin-top: 10px;
}
.navbar {
    background: linear-gradient(rgb(255, 255, 255), #0ce1bd);
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


}

.navbar a:hover {
    background-color: #82ff7e;
    color: rgb(255, 255, 255);

}

/* Estilos para tornar o navbar responsivo */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;

    }

    .navbar {
        text-align: center;
    }
}